## Spark SQL Functions

* Spark provides robust set of pre-defined functions as part of `pyspark.sql.functions`.
* However, they miight not fulfill all our requirements.
* At times, we might have to develop custom UDFs for these scenarios.
    * No function available for our requirement while applying row level transformations.
    * Also, we might have to use multiple functions sue to which readability of the code is compromised.

Here are the steps we need to follow to develop and use Spark User Defined Functions.
* Develop required logic using Python as programming language.
* Register the function using `spark.udf.register`. also assign it to a variable.
* Variable can be used as a part of Dataframe APIs such as `select`, `filter`, etc.
* When we register, we register with a name. That name can ne used as part of `selectExpr`or as part of Spark SQL queries using `spark.sql`.

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [5]:
user_name = 'CodeInDNA'
spark = SparkSession.builder.appName(f'SparkUDFs - {user_name}').getOrCreate()

In [6]:
help(spark.udf.register)

Help on method register in module pyspark.sql.udf:

register(name, f, returnType=None) method of pyspark.sql.udf.UDFRegistration instance
    Register a Python function (including lambda function) or a user-defined function
    as a SQL function.

    :param name: name of the user-defined function in SQL statements.
    :param f: a Python function, or a user-defined function. The user-defined function can
        be either row-at-a-time or vectorized. See :meth:`pyspark.sql.functions.udf` and
        :meth:`pyspark.sql.functions.pandas_udf`.
    :param returnType: the return type of the registered user-defined function. The value can
        be either a :class:`pyspark.sql.types.DataType` object or a DDL-formatted type string.
    :return: a user-defined function.

    To register a nondeterministic Python function, users need to first build
    a nondeterministic user-defined function for the Python function and then register it
    as a SQL function.

    `returnType` can be optionally specified when `f` is a Python function but not
    when `f` is a user-defined function. Please see below.

    1. When `f` is a Python function:

        `returnType` defaults to string type and can be optionally specified. The produced
        object must match the specified type. In this case, this API works as if
        `register(name, f, returnType=StringType())`.

        >>> strlen = spark.udf.register("stringLengthString", lambda x: len(x))
        >>> spark.sql("SELECT stringLengthString('test')").collect()
        [Row(stringLengthString(test)='4')]

        >>> spark.sql("SELECT 'foo' AS text").select(strlen("text")).collect()
        [Row(stringLengthString(text)='3')]

        >>> from pyspark.sql.types import IntegerType
        >>> _ = spark.udf.register("stringLengthInt", lambda x: len(x), IntegerType())
        >>> spark.sql("SELECT stringLengthInt('test')").collect()
        [Row(stringLengthInt(test)=4)]

        >>> from pyspark.sql.types import IntegerType
        >>> _ = spark.udf.register("stringLengthInt", lambda x: len(x), IntegerType())
        >>> spark.sql("SELECT stringLengthInt('test')").collect()
        [Row(stringLengthInt(test)=4)]

    2. When `f` is a user-defined function:

        Spark uses the return type of the given user-defined function as the return type of
        the registered user-defined function. `returnType` should not be specified.
        In this case, this API works as if `register(name, f)`.

        >>> from pyspark.sql.types import IntegerType
        >>> from pyspark.sql.functions import udf
        >>> slen = udf(lambda s: len(s), IntegerType())
        >>> _ = spark.udf.register("slen", slen)
        >>> spark.sql("SELECT slen('test')").collect()
        [Row(slen(test)=4)]

        >>> import random
        >>> from pyspark.sql.functions import udf
        >>> from pyspark.sql.types import IntegerType
        >>> random_udf = udf(lambda: random.randint(0, 100), IntegerType()).asNondeterministic()
        >>> new_random_udf = spark.udf.register("random_udf", random_udf)
        >>> spark.sql("SELECT random_udf()").collect()  # doctest: +SKIP
        [Row(random_udf()=82)]

        >>> import pandas as pd  # doctest: +SKIP
        >>> from pyspark.sql.functions import pandas_udf
        >>> @pandas_udf("integer")  # doctest: +SKIP
        ... def add_one(s: pd.Series) -> pd.Series:
        ...     return s + 1
        ...
        >>> _ = spark.udf.register("add_one", add_one)  # doctest: +SKIP
        >>> spark.sql("SELECT add_one(id) FROM range(3)").collect()  # doctest: +SKIP
        [Row(add_one(id)=1), Row(add_one(id)=2), Row(add_one(id)=3)]

        >>> @pandas_udf("integer")  # doctest: +SKIP
        ... def sum_udf(v: pd.Series) -> int:
        ...     return v.sum()
        ...
        >>> _ = spark.udf.register("sum_udf", sum_udf)  # doctest: +SKIP
        >>> q = "SELECT sum_udf(v1) FROM VALUES (3, 0), (2, 0), (1, 1) tbl(v1, v2) GROUP BY v2"
        >>> spark.sql(q).collect()  # doctest: +SKIP
        [Row(sum_udf(v1)=1), Row(sum_udf(v1)=5)]

        .. note:: Registration for a user-defined function (case 2.) was added from
            Spark 2.3.0.

    .. versionadded:: 1.3.1

In [7]:
ordersDF = spark.read.json('../data/orders.json')

In [8]:
ordersDF.show(2)

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
+-----------------+--------------------+--------+---------------+
only showing top 2 rows

In [9]:
ordersDF.dtypes

[('order_customer_id', 'bigint'),
 ('order_date', 'string'),
 ('order_id', 'bigint'),
 ('order_status', 'string')]

In [11]:
dc = spark.udf.register('date_convert', lambda x: x[:10].replace('-', ''))

In [14]:
(ordersDF.
select(dc('order_date').alias('order_date')).show())

+----------+
|order_date|
+----------+
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
+----------+
only showing top 20 rows

In [15]:
ordersDF.filter(dc('order_date') == 20140101).show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|             3414|2014-01-01 00:00:...|   25876|PENDING_PAYMENT|
|             5549|2014-01-01 00:00:...|   25877|PENDING_PAYMENT|
|             9084|2014-01-01 00:00:...|   25878|        PENDING|
|             5118|2014-01-01 00:00:...|   25879|        PENDING|
|            10146|2014-01-01 00:00:...|   25880|       CANCELED|
|             3205|2014-01-01 00:00:...|   25881|PENDING_PAYMENT|
|             4598|2014-01-01 00:00:...|   25882|       COMPLETE|
|            11764|2014-01-01 00:00:...|   25883|        PENDING|
|             7904|2014-01-01 00:00:...|   25884|PENDING_PAYMENT|
|             7253|2014-01-01 00:00:...|   25885|        PENDING|
|             8195|2014-01-01 00:00:...|   25886|     PROCESSING|
|            10062|2014-01-01 00:00:...|   25887|        PENDING|
|             6735|2014-01-01 00:00:...|   25888|       COMPLETE|
|            10045|2014-01-01 00:00:...|   25889|       COMPLETE|
|             2581|2014-01-01 00:00:...|   25890|        PENDING|
|             3037|2014-01-01 00:00:...|   25891|         CLOSED|
|             3853|2014-01-01 00:00:...|   25892|        ON_HOLD|
|             8679|2014-01-01 00:00:...|   25893|PENDING_PAYMENT|
|             7839|2014-01-01 00:00:...|   25894|     PROCESSING|
|             1044|2014-01-01 00:00:...|   25895|       COMPLETE|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

In [18]:
( ordersDF.
    groupBy(dc('order_date').alias('order_date')).
    count().
    withColumnRenamed('count', 'order_count').show())

+----------+-----------+
|order_date|order_count|
+----------+-----------+
|  20140413|        117|
|  20130919|        206|
|  20140303|        266|
|  20140410|        252|
|  20140512|        246|
|  20140530|        102|
|  20140711|        138|
|  20140202|        192|
|  20140310|        235|
|  20130809|        125|
|  20130817|        253|
|  20131015|        174|
|  20140114|        209|
|  20140505|        171|
|  20140709|        150|
|  20131029|        128|
|  20140130|        254|
|  20130824|        265|
|  20130913|        103|
|  20140610|        137|
+----------+-----------+
only showing top 20 rows

In [23]:
ordersDF.selectExpr('date_convert(order_date) AS order_date').show(5)

+----------+
|order_date|
+----------+
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
+----------+
only showing top 5 rows

In [24]:
ordersDF.createOrReplaceTempView('orders')

In [26]:
spark.sql("""SELECT o.*, date_convert(order_date) AS order_date FROM orders o""").show()

+-----------------+--------------------+--------+---------------+----------+
|order_customer_id|          order_date|order_id|   order_status|order_date|
+-----------------+--------------------+--------+---------------+----------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|  20130725|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|  20130725|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|  20130725|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|  20130725|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|  20130725|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|  20130725|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|  20130725|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|  20130725|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|  20130725|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|  20130725|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|  20130725|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|  20130725|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|  20130725|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|  20130725|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|  20130725|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|  20130725|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|  20130725|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|  20130725|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|  20130725|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|  20130725|
+-----------------+--------------------+--------+---------------+----------+
only showing top 20 rows

In [28]:
spark.sql("""SELECT o.*, date_convert(order_date) AS order_date FROM orders o WHERE date_convert(order_date)=20140101""").show(5)

+-----------------+--------------------+--------+---------------+----------+
|order_customer_id|          order_date|order_id|   order_status|order_date|
+-----------------+--------------------+--------+---------------+----------+
|             3414|2014-01-01 00:00:...|   25876|PENDING_PAYMENT|  20140101|
|             5549|2014-01-01 00:00:...|   25877|PENDING_PAYMENT|  20140101|
|             9084|2014-01-01 00:00:...|   25878|        PENDING|  20140101|
|             5118|2014-01-01 00:00:...|   25879|        PENDING|  20140101|
|            10146|2014-01-01 00:00:...|   25880|       CANCELED|  20140101|
+-----------------+--------------------+--------+---------------+----------+
only showing top 5 rows

In [29]:
spark.sql("""SELECT date_convert(order_date), count(*) AS order_date FROM orders o GROUP BY 1""").show(5)

+------------------------+----------+
|date_convert(order_date)|order_date|
+------------------------+----------+
|                20140413|       117|
|                20130919|       206|
|                20140303|       266|
|                20140410|       252|
|                20140512|       246|
+------------------------+----------+
only showing top 5 rows